{{! dashboard object listing}}
<div class="advanced-filters">
  <div class="row-fluid">
    <div class="span4">
      <select>
        <option>Show All Events</option>
        <option>Mappings</option>
        <option>Unmappings</option>
        <option>Updates</option>
        <option>Creations</option>
        <option>Deletions</option>
      </select>
    </div>
    <div class="span4">
      <ul class="filter-date-range">
        <li>
          <span>Date Range:</span>
        </li>
        <li>
          <input class="input-mini date" name="filter_start_date" data-toggle="datepicker" data-before="filter_end_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date filter_start_date}}"> - 
        </li>
        <li>
          <input class="input-mini date" name="filter_end_date" data-toggle="datepicker" data-after="filter_start_date" placeholder="MM/DD/YYYY" type="text" value="{{localize_date filter_end_date}}">
        </li>
      </ul>
    </div>
    <div class="span4">
      <div class="objective-selector">
        {{#using owner=owner}}
        <i class="grcicon-person-green"></i> <input type="text" name="owner.email" data-lookup="Person" class="span8 audit-selector" value="{{firstnonempty owner.email ''}}">
        {{/using}}
      </div>
    </div>
  </div>
</div>
<ul class="tree-structure new-tree">
  {{#list}}
    <li class="tree-item {{resource_type.toLowerCase}}" data-model="true" {{data 'model'}}>
      <div class="simple-link">
        <div class="row-fluid">
          <div class="span12">
            <div class="item-data">
              <div class="tree-title-area">
                <i class="grcicon-{{resource_type.toLowerCase}}-color" rel="tooltip" title="{{resource_type}}"></i>
                {{#revisions}}
                  <strong>
                    {{firstnonempty description display_name}};
                  </strong>
                {{/revisions}}
                <span class="event-owner">
                  by
                  {{#modified_by}}
                    {{email}}
                  {{/modified_by}}
                </span>
                <span class="event-time">
                  on {{date created_at}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  {{/list}}
  {{#pager.next}}
  <li class="view-more-paging">
    <a href="javascript://">
      View More
      <i class="grcicon-down"></i>
    </a>
  </li>
  {{/pager.next}}
</ul>
